.form{
    margin:auto;
    margin-top: 150px;
    width:300px;
    width:400px;

}
.input{
    width:350px;
    height:35px;
    margin-top: 15px;
    
}
.submit{
    width:350px;
    height:35px;
    border-radius: 5px;
    margin-top: 15px;
    border:none;
    background-color:black;
    color:white
}
.submit:hover{
    background-color:white;
    color:black
}
.details{
    width:350px;
    height:85px;
    margin-top: 15px;
    
    

}